.msgCard {
  box-sizing: border-box;
  display: flex;
  justify-self: end;
  gap: 10px;

  &__content {
    width: 201px;
    padding: 7px 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #eaf3fa;
    overflow-wrap: break-word;
    border-radius: 15px 15px 15px 15px;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      width: 20px;
      height: 20px;
      transform: translateX(calc(-100% - 7px));
      background: #eaf3fa;
      clip-path: polygon(
        52% 11%,
        52% 0,
        100% 0,
        100% 70%,
        100% 100%,
        53% 100%,
        0 100%,
        29% 74%,
        52% 52%,
        52% 26%
      );
    }
  }
  &__name {
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
    margin: 0 0 2px 0;
  }
  &__text {
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
    margin: 0 0 3px 0;
  }
  &__time {
    position: absolute;
    bottom: 2px;
    right: 16px;
    margin: 0;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.29);
    text-align: right;
  }
  &__logoWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__logo {
    width: 34px;
    height: 34px;
    background: url("../../../../assets/img/userMsgLogo.png") center / cover
      no-repeat;
  }
}

.msgCard_style_bot {
  justify-self: start;
}

.msgCard_style_bot .msgCard__content {
  background: #edeef2;
}

.msgCard_style_bot .msgCard__logo {
  background: url("../../../../assets/img/botMsgLogo.png") center / cover
    no-repeat;
}
