.messenger {
  position: relative;
  height: 100%;
  &__list {
    height: 603px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 58px;
  }

  &__messege {
    display: grid;
  }
  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
